<%= form_with model: task, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :priority %>
    <%= f.select :priority, ['Low', 'Medium', 'High'], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ['Pending', 'Completed'], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.date_field :deadline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :assignee_id, "Assign to User (User ID)" %>
    <%= f.number_field :assignee_id, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-success mt-3" %>
<% end %>
